.footer {
	min-height: 550px;
}

.footerIcon {
	font-size: 4rem;
}

.footer-left {
	background: #3f3f3f url(../img/footer-img.jpg) no-repeat center / cover;
}

.footer-bottom {
	background-color: #000;
	width: 100%;
}
