@use '~bootstrap/scss/bootstrap';

body {
	font-family: 'Open Sans', Roboto;
	overflow-x: hidden;
}

.btn:active {
	transform: scale(0.9);
}

.border-bottom-primary:hover {
	border-bottom: 5px solid bootstrap.$primary;
}
