@use '~bootstrap/scss/bootstrap' with (
	$primary: #feb062,
	$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) 
);

@use 'global';
@use 'loader';
@use 'header';
@use 'section';
@use 'footer';
